* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em,i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  cursor: pointer;
}

a {
  color: #cdcdcd;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  color: #27bb9a;
}
/* 伪元素清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1
}
html,body{
  // margin: 0;
  // padding: 0;
  height: 100%;
}
// ul,li{
//   margin: 0;
//   padding: 0;
// }
body{
  min-width: 1240px;
}
.container{
  margin: 0 auto;
  width: 1240px;
}
#app{
  background-color: #f5f5f5;
}
.ellipsis{
  text-overflow: ellipsis;// 规定当文本溢出时显示省略符号来代表被修剪的文本
  white-space: nowrap;// 设置文字在一行显示不能换行
  overflow:hidden;
}
@ftColor:#cf4444;
@bgColor:#27ba9b;

// 面包屑导航过渡效果
.crumbs-enter-active,
.crumbs-leave-active {
  transition: all 0.5s ease;
}

.crumbs-enter-from,
.crumbs-leave-to {
  opacity: 0;
  transform: translateX(20px);
} 