@font-face {
  font-family: "iconfont";
  /* Project id 3614143 */
  src: url('//at.alicdn.com/t/c/font_3614143_6mwjrnbvewf.woff2?t=1684064723994') format('woff2'), url('//at.alicdn.com/t/c/font_3614143_6mwjrnbvewf.woff?t=1684064723994') format('woff'), url('//at.alicdn.com/t/c/font_3614143_6mwjrnbvewf.ttf?t=1684064723994') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconxiangshangjiantou:before {
  content: "\e65d";
}
.iconxiangxiajiantou:before {
  content: "\e65e";
}
.iconchacha:before {
  content: "\e60f";
}
.iconjurassic_zan:before {
  content: "\e696";
}
.iconkongxinwujiaoxing:before {
  content: "\e626";
}
.iconshixinwujiaoxing:before {
  content: "\e628";
}
.iconxiangzuojiantou:before {
  content: "\e660";
}
.iconpinglun1:before {
  content: "\e64b";
}
.iconshoucang:before {
  content: "\e605";
}
.iconqizhi-:before {
  content: "\e60b";
}
.icondynamic-filling:before {
  content: "\e68a";
}
.icon24gl-shieldCheck:before {
  content: "\e9d4";
}
.iconjinggao:before {
  content: "\e6b6";
}
.iconxinfeng1:before {
  content: "\e63c";
}
.iconyonghu:before {
  content: "\e720";
}
.iconsuoding_o:before {
  content: "\eb50";
}
.iconweixuanze:before {
  content: "\e625";
}
.iconyixuanze:before {
  content: "\e627";
}
.iconshangjiantou:before {
  content: "\e602";
}
.iconxiajiantou:before {
  content: "\e604";
}
.iconjiagebaohu:before {
  content: "\e603";
}
.iconguojiwuliu:before {
  content: "\e7ae";
}
.icondianzan:before {
  content: "\e630";
}
.iconxinlangweibo:before {
  content: "\e601";
}
.iconkefu:before {
  content: "\e60a";
}
.icongerenzhongxin-wentifankui:before {
  content: "\e697";
}
.iconweixin:before {
  content: "\e609";
}
.iconliulan:before {
  content: "\e61d";
}
.iconpinglun:before {
  content: "\e60e";
}
.iconaixin:before {
  content: "\e83f";
}
.iconxiangyoujiantou:before {
  content: "\e65f";
}
.icongouwuche:before {
  content: "\e73d";
}
.iconsousuo:before {
  content: "\e679";
}
.iconshouji:before {
  content: "\e600";
}
